@model IEnumerable<OdemeSistemi.Models.Abone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.error!= null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.error");
            };
    </script>
    Session["hata"] = null;
}
<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Abone Ara", "Search", null, new { @class = "btn btn-primary " })

</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor("Gise Adı")*@
            @Html.Label("Gise Adı")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depozito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gise.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depozito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sifre)
            </td>
            <td>
                <a href=" @Url.Action("faturalar","faturas", new { id = item.Id })">Faturaları Öde</a>
               
                @*@Html.ActionLink("Faturaları Öde", "Faturalar", "Faturas",null, new { id = item.Id }) |*@

                @Html.ActionLink("Aboneyi Sil ! ", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
